.about{
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./images/wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 3px solid black;
}

.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    text-align: center;
    height: 50%;
    width: 60%;
    font-size: larger;
}

.about-container p{
    font-size: x-large;
}

@media only screen and (max-width: 767px) {
    .about-container{
        width: 80%;
    }
    .about-container p{
        font-size: larger;
    }
}