.edu{
    height: 100dvh;
    background-color: #3b9dff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    padding: 2%;
    color: white;
    font-size: larger;
    border-bottom: 3px solid black;
}

.edu-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70%;
    width: 100%;
}

.div-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    width: 25%;
    padding: 1.5%;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    color: #000;
    gap: 10%;
}

h2{
    font-size: 1.5rem;
}

.block{
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100%;
    gap: 5%;
    font-size: 1.2rem;
}

@media only screen and (max-width: 767px) {
    .edu{
        font-size: medium;
        gap: 5%;
    }
    .edu-container{
        flex-direction: column;
        height: 80%;
        gap: 2%;
    }
    .div-1{
        width: 75%;
        padding: 3%;
    }
    h2{
        font-size: 1.2rem;
    }

    .block{
        font-size: large;
    }
}